[Unit]
Description=SCW signal successful boot
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin"
ExecStart=/opt/bin/scw-signal-state booted

[Install]
WantedBy=basic.target
